/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
spingtravel-eureka-client-ribbon/.mvn/
springtravel-euraka-client-feign/.mvn/
springtravel-eureka-client/.mvn/
springtravel-eureka-server/.mvn/
springtravel-eureka-server/target/
spingtravel-eureka-client-ribbon/target/
springtravel-euraka-client-feign/target/
springtravel-eureka-client/target/
/springtravel-eureka-client-zuul/.mvn/
